/*  
    horizontal-rule color :
        border: 1px solid rgb(191, 186, 186);
    new:
        rgb(224, 219, 219)
*/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

/* main - starts */

main
{
    width: 100%;
}

/* main - ends */

/* navbar - starts */

.nav_bar
{
    font-size: 0.8rem;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.85rem 1.05rem 0.55rem;
    color: rgb(117, 116, 116);
    font-weight: bold;
}

.nav_menu
{
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.nav_menu p
{
    padding: 0.3rem 0.6rem;
    cursor: pointer;
}

.nav_menu p:hover
{
    color: #0041a1;
    background-color: aliceblue;
    border-radius: 5px;
    font-weight: bolder;
}

hr
{
    border: 1px solid rgb(224, 219, 219);
}

.nav_bar img
{
    width: 2.5rem;
    border-radius: 30%;
    margin-right: 0.4rem;
    cursor: pointer;
}

.user
{
    display: flex;
    align-items: center;
}

select
{
    border: none;
    margin-left: 0.2rem;
    color: rgb(117, 116, 116);
    cursor: pointer;
}

/* navbar - ends */

/* content - starts */

.content
{
    display: flex;
}

/* sidebar - starts */

.sidebar
{
    width: 10%;
    height: 100%;
    padding: 1% 2%;
    color: rgb(117, 116, 116);
    font-weight: bold;
    font-size: 0.9rem;

}

.sidebar span
{
    margin-right: 0.5rem ;
    cursor: pointer;
}

.sidebar p{
    margin: 2rem 0;
    padding: 0.3rem 0rem 0.3rem 0.6rem;
    cursor: pointer;
}

.sidebar p:hover
{
    color: #0041a1;
    background-color: aliceblue;
    border-radius: 4px;
}

/* sidebar - ends */

/* mainbar - starts */

.mainbar
{
    width: 90%;
    height: 100%;
}

/* main-top - starts */
.top
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.top h1
{
    font-size: 3rem;
    font-weight: bolder;
}

.top_buttons span
{
    margin-right: 0.3rem;
}

.refresh, .new_message
{
    padding: 0.8rem 0.9rem;
    border-radius: 10px;
    border: none;
    margin-right: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.refresh:hover, .new_message:hover
{
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

.refresh
{
    background-color: white;
    color: #0f3c81;
    border: 1.5px solid rgb(224, 219, 219);
}

.new_message
{
    background-color: #0f3c81;
    color: white;
}
/* main-top - ends */

/* main-middle - starts */

.middle
{
    background-color: #f4faff;
    padding: 1rem;
    position: relative;
    border-radius: 7px;
    margin: 0 1.5rem 0 1rem;
}

.middle input
{
    width: 100%;
    border: 1px solid  rgb(224, 219, 219);
    padding: 1rem 1rem 1rem 2.8rem;
    border-radius: 5px;
}

.middle span
{
    position: absolute;
    color: rgb(138, 136, 136);
    cursor: pointer;
}

.search
{
    top: 28px;
    left: 30px;
    font-size: 1.4rem;
}

.settings
{
    top: 30px;
    right: 30px;
    font-size: 1.4rem;
}
/* main-middle - ends */

/* main-bottom - starts */

.bottom
{
    font-size: 0.85rem;
    margin: 0 1.5rem 0 1rem;
    padding: 2rem 1rem;
    color: rgb(138, 136, 136);
}

.mail_table
{
    width: 100%;
}

.table_body tr td:nth-child(1)
{
    width: 2%;
}

.table_body tr td:nth-child(2)
{
    width: 2%;
}
.table_body tr td:nth-child(3)
{
    width: 10%;
}
.table_body tr td:nth-child(4)
{
    width: 60%;
}
.table_body tr td:nth-child(5)
{
    width: 8%;
}

.table_body tr:last-child /*-----------------------------*/
{
    border: none;
}

.mail_table td, tr
{
    padding: 1rem;
    cursor: pointer;
}

.mail_table tr, td
{
    /* border: none; */
    border-collapse: collapse;
    border-bottom: 1px solid rgb(219, 212, 212);
}

.all_check, th
{
    text-align: left;
    padding-left: 1rem;
}

thead span
{
    color: #5774a0;
}

.star
{
    color: rgb(224, 219, 219)
}

.senders, .subjects
{
    font-weight: bold;
}

.subjects
{
    margin-right: 0.3rem;
}

tbody tr td:nth-child(4)
{
    min-width: 70%;
}

tbody tr:hover
{
    /* background-color: #f9f9ff; */
    background-color: aliceblue;
}
/* main-bottom - ends */

/* footer - starts */

.footer
{
    margin: 0 2rem 2rem 2rem;
    padding: 1rem;
    background-color: #f4faff;
    font-weight: bold;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page_turner
{
    width: 14%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left select
{
    background-color: white;
    padding: 0.4rem;
    border: 1px solid rgb(224, 219, 219);
    color: black;
    border-radius: 10px;
}

.left select option
{
    background-color: white;
}

.page_turner button
{
    padding: 0.4rem;
    border-radius: 10px;
    border: 1px solid rgb(224, 219, 219);
    background-color: white;
}
/* footer- ends */
/* mainbar - ends */


/* unread messages */

.unread
{
    color: #114492;
}

.stars
{
    color: gold;
}

.search_identify
{
    background-color: rgb(208, 250, 235);
    transition: 1s ease-in-out;
}